<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .btn-edit {
        outline: none;
        background-color: orange;
        /* color: white; */
        padding: 5px 10px;
        border-radius: 5px;
        width: 60px;
        border: none;
        cursor: pointer;
    }

    .btn-delete {
        outline: none;
        background-color: red;
        /* color: white; */
        padding: 5px 10px;
        width: 60px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
</style>

<body>
    <h1>Get CRUD From View</h1>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% let dataUser=JSON.parse(data); %>
            <% dataUser.map((item, index)=> { %>
                <tr>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.firstName %>
                    </td>
                    <td>
                        <%= item.lastName %>
                    </td>
                    <td>
                        <%= item.address %>
                    </td>
                    <td>
                        <a class="btn-edit" href="/edit-crud/<%= item.id %>" type="button">Edit</a>
                        <a class="btn-delete" href="/delete-crud/<%= item.id %>" type="button">Delete</a>
                    </td>
                    <td>
                        <%= item.id %>
                    </td>
                </tr>
                <% }) %>

</body>

</html>